@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    margin: 0;
    padding: 0; 
    width: 100%; 
    height: 100%;
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

 body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }




/* hero styles here */ 
.hero-container{
    padding: 30px 50px;
    background: url("../assets/images/copy-space-woman-with-hands-hair.jpg");
    width: 100%;
    height: 100%;
   background-size: cover;

   background-repeat: no-repeat;
}

.hero-container .hero-content {
    margin: 100px 0;
}

.hero-container .hero-content .tag-one{
    font-size: 18px;
    font-weight: 600;
    color: #676363;
    margin-bottom: 10px;
}

.hero-container .hero-content .tag-two{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}

.hero-container .hero-content .tag-three{
    font-size: 20px;
    font-weight: 500;
    color: #676363;
    margin-bottom: 20px;
}
.hero-container .hero-content .btn{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    background: #D1B000;
    color: #000000; 
    padding: 12px 30px;
    border-radius: 1px;
    border: 1px solid #D1B000;
    text-transform: uppercase;
}

/* product categories section */
.home-categories{
    margin-top: 5%;
    padding: 30px 50px;
}

.home-categories h4.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.home-categories .categories-box{
    margin-top: 50px;
}

.home-categories .categories-box .categories-img{
    height: 250px;
    width: 250px;
    margin: 0px 15px;
}

.home-categories .categories-box .categories-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   box-shadow: 0px 0px 2px 1px rgba(158,158,158,0.75);
-webkit-box-shadow: 0px 0px 2px 1px rgba(158,158,158,0.75);
-moz-box-shadow: 0px 0px 2px 1px rgba(158,158,158,0.75);
}

.home-categories .categories-box .categories-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -20px;
}
.home-categories .categories-box .categories-title .btn{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    background: #D1B000;
    color: #000000;
    border: 1px solid #D1B000;
    border-radius: 1px;
    padding: 10px;
    width: 75%;
}


/* home products section */

.home-products{
    margin-top: 5%;
    padding: 30px 50px;
}
.home-products h4.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.home-products .home-products-list{
    margin-top: 50px;
}

.home-products .home-products-button{
    margin-top: 20px;
    text-align: center;
}

.home-products .home-products-button .btn.btn-primary{
    background: #000000;
    color: #e3c678;
    font-size: 14px;
    font-weight: 600;
    border-radius: 1px; 
    padding: 15px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #000000;
    font-family: "Poppins", sans-serif;

}

  /* progress section to be removed */
  .progress-work{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
  }

