@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.product-details-container {
  margin-bottom: 5%;
  font-family: "Poppins", sans-serif;
}

.details-section {
  margin-top: 3%;
  padding: 20px 50px;
}

/* bread crumbs styles */

.bread-header {
  padding: 10px 50px 0px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background-image: url("../assets/images/african-woman-tp.png");
    background-size: contain;
    background-repeat: no-repeat; */
}

.bread-header .header-img {
  height: 150px;
}
.bread-header .header-img img {
  width: 220px;
  height: 100%;
  object-fit: cover;
}
.bread-header .bread-width {
  display: flex;
  justify-content: center;
}

.bread-header .bread-header-text {
  text-align: center;
  max-width: 500px;
}

.bread-header .bread-header-text h4 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  color: #565656;
}

.bread-header .bread-header-text .breadcrumb {
  text-align: center;
  margin-top: 10px;
  justify-content: center;
}

.bread-header .bread-header-text .breadcrumb ul {
  list-style: none;
  display: flex;
  flex: auto;
  flex-direction: row;
  margin-left: 0px;
  padding-left: 0px;
}

.bread-header .bread-header-text .breadcrumb ul li {
  margin: 5px 5px;
}

.bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link {
  text-decoration: none;
  color: #5c5c5c;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link .fa-solid {
  font-weight: 600;
  margin: 0px 10px;
  font-size: 14px;
  color: #2c2c2c;
}

.bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link.active {
  color: #565656;
  font-weight: 600;
}

/* related products styles */
.related-products {
  margin-top: 8%;
  padding: 20px 20px;
}

.related-products .title {
  font-size: 25px;
  font-weight: 500;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}

.related-products .related-prod-list {
  margin: 40px 30px;
}
