@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.product-details-container {
  margin-bottom: 5%;
  font-family: "Poppins", sans-serif;
}

.details-section {
  margin-top: 3%;
  padding: 20px 50px;
}

/* bread crumbs styles */

.product-details-container .bread-header {
  padding: 10px 50px 0px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background-image: url("../assets/images/african-woman-tp.png");
    background-size: contain;
    background-repeat: no-repeat; */
}

.product-details-container .bread-header .header-img {
  height: 150px;
}

.product-details-container .bread-header .header-img img {
  width: 220px;
  height: 100%;
  object-fit: cover;
}

.product-details-container .bread-header .bread-width {
  display: flex;
  justify-content: center;
}

.product-details-container .bread-header .bread-header-text {
  text-align: center;
  max-width: 500px;
}

.product-details-container .bread-header .bread-header-text h4 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  color: #565656;
}

.product-details-container .bread-header .bread-header-text .breadcrumb {
  text-align: center;
  margin-top: 10px;
  justify-content: center;
}

.product-details-container .bread-header .bread-header-text .breadcrumb ul {
  list-style: none;
  display: flex;
  flex: auto;
  flex-direction: row;
  margin-left: 0px;
  padding-left: 0px;
}

.product-details-container .bread-header .bread-header-text .breadcrumb ul li {
  margin: 5px 5px;
}

.product-details-container .bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link {
  text-decoration: none;
  color: #5c5c5c;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.product-details-container .bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link .fa-solid {
  font-weight: 600;
  margin: 0px 10px;
  font-size: 14px;
  color: #2c2c2c;
}

.product-details-container .bread-header .bread-header-text .breadcrumb ul li .breadcrumb-link.active {
  color: #565656;
  font-weight: 600;
}

/* related products styles */
.related-products {
  margin-top: 5%;
  padding: 20px 20px;
}

.related-products .title {
  font-size: 25px;
  font-weight: 500;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}

.related-products .related-prod-list {
  margin: 40px 30px;
}

/* details section styles  */
.details-section {
  padding: 20px 30px;

}

.details-section .details-sect-info {
  margin-top: 20px;

}

.details-section .details-sect-info .prod-name {
  font-size: 18px;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 15px;
}

.details-section .details-sect-info .prod-price {
  font-size: 22px;
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.details-section .details-sect-info .discount-price {
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
  padding-left: 15px;
  color: #686868;

}

.details-section .details-sect-info .prod-stock {
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  margin-top: 0px;
  padding-top: 0px;
}

.details-section .details-sect-info .prod-cart {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex: auto;
  margin-bottom: 30px;
}

.details-section .details-sect-info .prod-cart .prod-quantity {
  margin-right: 30px;
}

.details-section .details-sect-info .prod-cart .prod-quantity .form-group {
  display: flex;
  border: 1px solid #777777;
}

.details-section .details-sect-info .prod-cart .prod-quantity .form-group input {
  width: 50px;
  height: 50px;
  border-radius: 1px;
  border: 0px solid transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #565656;
}

.details-section .details-sect-info .prod-cart .prod-quantity .form-group input:focus {
  box-shadow: none;
  outline: none;
}

.details-section .details-sect-info .prod-cart .prod-quantity .form-group .btn {
  border: 0px solid #000000;
  border-radius: 1px;
  width: 50px;
  text-align: center;
  font-size: 15px;
  color: #565656;
}

.details-section .details-sect-info .prod-cart .prod-quantity .form-group .btn:focus {
  box-shadow: none;
  outline: none;
}

.details-section .details-sect-info .prod-cart .add-cart .btn {
  border-radius: 1px;
  border: 1px solid #000000;
  background: #000000;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  text-transform: uppercase;
  padding: 12px 25px;
  letter-spacing: 1px;
  text-align: center;

  box-shadow: 0px 0px 5px 1px rgba(87, 87, 87, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(87, 87, 87, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(87, 87, 87, 0.75);
}


.details-section .details-sect-info .prod-description {
  padding: 10px 0;
}

.details-section .details-sect-info .prod-description .p-title {
  font-size: 15px;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.details-section .details-sect-info .prod-description .p-desc {
  font-size: 13px;
  font-weight: 400;
  color: #696969;
}

.details-section .details-sect-info .details-prod-tags {
  padding: 10px 0;
}

.details-section .details-sect-info .details-prod-tags p {
  font-size: 14px;
  font-weight: 500;
  color: #5c5c5c;
  margin-bottom: 8px;
}

.details-section .details-sect-info .details-prod-tags .prod-tags .tag-list {
  color: #2c2c2c;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 10px;
}

.details-section .details-sect-info .share-icons {
  padding: 10px 0;
}

.details-section .details-sect-info .share-icons ul {
  display: flex; 
  flex: auto;
  flex-direction: row;
  padding-left: 0px;
  list-style: none;
}

.details-section .details-sect-info .share-icons ul li {
  margin-right: 30px;
}

.details-section .details-sect-info .share-icons ul li .share-link {
  text-decoration: none;
  color: #696969;
  font-size: 22px;
}


.details-section .product-images {
  margin-top: 5px;
}

.details-section .product-images .prod-img-list {
  margin-top: 10px;
}

.details-section .product-images .prod-img-list .img-thumb {
  height: 100px;
  width: 80px;
  margin: 0px 5px 20px;
  border: 0px solid #000000;
  opacity: 0.5;
  box-shadow: 0px 0px 3px 1px rgba(87, 87, 87, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(87, 87, 87, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(87, 87, 87, 0.75);
  cursor: pointer;
}

.details-section .product-images .prod-img-list .img-thumb.active {
  opacity: 1;
}

.details-section .product-images .prod-img-list .img-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-section .product-images .prod-main-img {
  margin-left: 15px;
  height: 550px;
  max-width: 450px;

  box-shadow: 0px 0px 3px 1px rgba(130, 130, 130, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(130, 130, 130, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(130, 130, 130, 0.75);
}

.details-section .product-images .prod-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}