@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.shop-container {
    margin-bottom: 5%; 
    font-family: "Poppins", sans-serif;
}


.shop-section{
    padding: 20px 50px;
}

.shop-section .shop-actions{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
}

.shop-section .shop-actions .shop-one p{
    margin-top: 20px;
    font-size: 14px;
    color: #575757;
    font-weight: 500;
}

.shop-section .shop-actions .shop-one .form-group select{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #565656;
    border: 1px solid #989898;
    width: 250px;
    border-radius: 1px;
}

.shop-section .shop-actions .shop-one .form-group select:focus{
    outline: none;
    box-shadow: none;
}
