/* css link for gold pallets
https://joekotlan.com/using-gold-color-web/ 
https://hookagency.com/blog/web-design-color-palettes/
https://www.canva.com/colors/color-meanings/gold/
*/

/* 
.dark-gold {color: #8E793E}
.light-gold {color: #AD974F}
.intellectual-grey {color: #231F20}
.light-grey {color: #EAEAEA} */



/* link to template to pick styles form
https://shoplolaexpresshair.com/
https://themesflat.com/html/modaz/404.html
https://themesflat.com/html/modaz/index-v3.html
https://themesflat.com/html/modaz/index-v10.html#
https://themesflat.com/html/modaz/index-v9.html */