<!-- for more templates below
https://app.mailersend.com/start -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Verification Code</title>
    <style> 
      /* Add your CSS styles here */
    </style>
  </head>
  <body>
    <h1>Verification Code</h1>
    <p>Please use the following code to verify your email:</p>
    <h2><%= verificationCode %></h2>
    <p>If you didn't request for this service, please ignore this email.</p>
  </body>
</html>

